# Eclipse
.classpath
.project
.settings/

# Intellij
.idea/
*.iml
*.iws

## Directory-based project format:
.idea/

## File-based project format:
*.ipr
*.iws

## Plugin-specific files:

# IntelliJ
out/
project/target/
project/project/target/

# mpeltonen/sbt-idea plugin
.idea_modules/

# Mac
.DS_Store

# Maven
log/
target/
